@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth !important;
}

body {
  color: rgb(var(--foreground-rgb));
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;

}


.career_post h1,
.single_brand h1,
.single_news h1,
.history_card h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: inherit;
}

.career_post h2,
.single_brand h2,
.single_news h2,
.history_card h2 {
  display: block;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  font-size: 1.5rem;
  margin-left: 0;
  margin-right: 0;
  font-weight: inherit;
}

.career_post h3,
.single_brand h3,
.single_news h3,
.history_card h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: inherit;
}

.career_post h4,
.single_brand h4,
.single_news h4,
.history_card h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: inherit;
}


.career_post h5,
.single_brand h5,
.single_news h5,
.history_card h5 {
  display: block;
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: inherit;
}

.career_post h6,
.single_brand h6,
.single_news h6,
.history_card h6 {
  display: block;
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: inherit;
}

.career_post p,
.single_brand p,
.single_news p,
.history_card p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-size: 1rem;
}


.career_post ul,
.single_brand ul,
.single_news ul,
.history_card ul {
  list-style: initial;
  font-size: medium;
}


.career_post ol,
.single_brand ol,
.single_news ol,
.history_card ol {
  list-style: decimal;
  font-size: medium;
}

.career_post strong,
.single_brand strong,
.single_news strong,
.history_card strong {
  font-weight: 900 !important;
}


@font-face {
  font-family: 'Garet';
  src: url('/assets/fonts/garet/Garet-Book.ttf');
}

@font-face {
  font-family: 'Garet_bold';
  src: url('/assets/fonts/garet/Garet-Heavy.ttf');
}

.react-reveal {
  animation-fill-mode: both;
  animation-duration: 2000ms !important;
  animation-delay: 0ms !important;
}

/* fade in */
.fade_in {
  animation: fadeIn 2s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.nav_items {
  font-family: 'Garet';
  font-style: normal;
  font-weight: 300;
  font-size: 22.65px;
  line-height: 33px;
}

.home_navbar {
  height: 170px;
}

.icons {
  width: 14px;
  height: 14px;
}

.header_title {
  font-weight: 850;
  font-size: 4rem;
  line-height: 100%;
  color: #ffde00;
}

@media only screen and (max-width: 1024px) {
  .header_title {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .header_title {
    font-size: 1.9rem;
  }
}

.large_title {
  font-weight: 850;
  font-size: 6rem;
  line-height: 100%;
  color: #ffde00;
  display: inline-block;
  padding: 10px;
}

@media only screen and (max-width: 1024px) {
  .large_title {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .large_title {
    font-size: 2.25rem;
  }
}

.para {
  font-weight: 300;
  font-size: 1rem;
  line-height: 30px;
}

/* .stories_para {
  font-size: .6rem;
}

@media only screen and (max-width: 600px) {
  .stories_para {
    font-size: 0.4rem;
  }
} */

.stories_para h2 {
  text-align: left !important;
  margin: .75rem !important
}

@media only screen and (max-width: 600px) {
  .stories_para h2 {
    font-size: 1.1rem;
    line-height: 20px;
    margin: 5px 0
  }

  .stories_para p {
    font-size: .8rem;
    margin: 0
  }
}

@media only screen and (max-width: 600px) {
  .para {
    font-size: 0.8rem;
  }
}

.title {
  font-weight: 850;
  font-size: 2rem;
  display: inline-block;
}

@media only screen and (max-width: 1024px) {
  .title {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 1.25rem;
  }
}

.subtitle {
  font-size: 1.25rem;
  padding: 5px 0;
}

@media only screen and (max-width: 1024px) {
  .subtitle {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 600px) {
  .subtitle {
    font-size: 1rem;
  }
}

.story_mobile_trans_timeline {
  background: rgba(191, 183, 183, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.featured_card::before {
  content: '';
  position: absolute;
  bottom: 0px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #061f21 100%);
  border-radius: 20px;
  z-index: 20;
  width: fit-content;
  height: 100%;
  width: 100%;
}

.banner_card::before {
  content: '';
  position: absolute;
  bottom: 0px;
  border-radius: 20px;
  z-index: 20;
  width: fit-content;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #061f21 100%);
}

@media only screen and (max-width: 600px) {
  .home_banner::before {
    content: '';
    position: absolute;
    bottom: 0px;
    background: linear-gradient(180deg,
        rgba(0, 0, 0, 0.7) 0%,
        rgba(24, 6, 80, 0.7) 100%);
    /* border-radius: 20px; */
    z-index: 10;
    width: fit-content;
    height: 100%;
    width: 100%;
  }
}

.leadership_card::before {
  content: '';
  position: absolute;
  bottom: 0px;
  background: linear-gradient(180deg, rgba(193, 202, 211, 0), #0d0c0c 100%);
  z-index: 20;
  box-shadow: 5px 5px 5px gray;
  width: fit-content;
  height: 25%;
  width: 100%;
}

.leader_plus {
  display: none;
  color: white;
  cursor: pointer;
  z-index: 40;
}

.leadership_card:hover .leader_plus {
  display: block;
}

.slick-slider {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.slider-container {
  max-width: 100%;
  overflow: hidden;
}

.slick-slide {
  padding: 0 15px;
}

@media only screen and (max-width: 600px) {
  .slick-slide {
    padding: 0 8px;
  }
}

.banner_slider .slick-slide {
  padding: 0 !important;
}

.banner_slider .slick-dots {
  position: absolute;
  bottom: 50px;
  display: block;
  width: 100%;
  margin: 0;
  list-style: none;
  text-align: center;
}

.banner_slider .slick-dots li button:before {
  font-family: 'slick';
  font-size: 20px !important;
  top: 20px;
  line-height: 20px !important;
  font-weight: 800 !important;
  position: absolute !important;
  /* bottom: -100px !important; */
  left: auto !important;
  content: '—' !important;
  text-align: center !important;
  color: #ffde00 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.newsroom_slider {
  background-color: white !important;
}

/* centerise item */
.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.child_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;
}

.justify_start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.items_start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.side_padding {
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .side_padding {
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 1200px) {
  .side_padding {
    padding: 0 1.5rem;
  }
}

.mobile_story {
  background: white;
}

@media only screen and (max-width: 600px) {
  .mobile_story {
    background: linear-gradient(180deg, #18536a 0%, #000000 100%);
  }
}

.card {
  box-shadow: 0px 16px 52px rgba(159, 159, 159, 0.25);
  border-radius: 10px;
}

/* icon move  */
.forward:hover .forward_icon {
  padding-left: 10px;
}

.type_input {
  width: 100%;
  height: 45px;
  min-width: 400px;
  outline: none;
  left: 763px;
  top: 898px;
  padding: 0 10px;
  background: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 12px;
}

@media only screen and (max-width: 600px) {
  .type_input {
    min-width: 300px;
  }
}

/* ::-webkit-scrollbar {
  width: 5px;
  background: #9ca0a1;
  height: 20px;
} */

::-webkit-scrollbar-thumb {
  background: #18536a;
}


/* admin drawer css  */
.left_bar {
  background: linear-gradient(to right, #14313d, #1c4759);
  min-height: 100vh;
}

.menuDrawer {
  background: #1c4759;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #14313d,
      #1c4759);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      #14313d,
      #1c4759);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-size: 14px;
}

.bg-brand_gradient {
  background: #1c4759;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #14313d,
      #1c4759);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      #14313d,
      #1c4759);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

.subLink {
  display: flex;
  align-items: center;
  margin-top: 5px;
  padding: 5px;
  border-radius: 4px;
}

.subLink:hover {
  background-color: rgb(68, 90, 112);
}

.menuDrawer-item:hover {
  background-color: #3a5270;
  color: white;
}

.menuDrawer-item {
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0px;
  cursor: pointer;
}

.hovered_bg {
  background-color: #3a5270;
  color: white;
}

.subLink_bg {
  background-color: rgb(68, 90, 112);
}

.subdrawer {
  background-color: #3a5270;
  border-radius: 5px;
}

.admin_drawer ::-webkit-scrollbar {
  display: none;
}

.details_box ::-webkit-scrollbar {
  display: none;
  width: 3px;
}

.main_sidebar {
  bottom: 0;
  float: none;
  left: 0;
  position: fixed;
  top: 0;
}

.dashboard_padding {
  padding: 20px 40px;
}

@media only screen and (max-width: 600px) {
  .dashboard_padding {
    padding: 10px 14px;
  }
}

.dashboard_title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #302d2d;
  margin: 8px 0;
}

.dashboard_secondary_title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #302d2d;
  margin: 1rem 0;
}

.dashboard_btn {
  background: #1c4759;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #14313d,
      #1c4759);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      #14313d,
      #1c4759);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  border-radius: 10px;
  box-shadow: -2px 4px 5px 1px rgba(146, 152, 168, 0.72);
  -webkit-box-shadow: -2px 4px 5px 1px rgba(146, 152, 168, 0.72);
  -moz-box-shadow: -2px 4px 5px 1px rgba(146, 152, 168, 0.72);
  padding: 0.7rem 1rem;
}

.dashboard_btn:hover {
  background: #20576e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #14313d,
      #1d4b5f);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      #14313d,
      #12475e);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.toggle_shadow {
  box-shadow: -8px -4px 8px 0px #ffffff, 8px 4px 12px 0px #d1d9e6,
    4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #ffffff inset;
}

.toggle-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.toggle-label {
  width: 40px;
  height: 20px;
  background: #ccc;
  position: relative;
  display: inline-block;
  border-radius: 46px;
  transition: 0.4s;
  box-sizing: border-box;
}

.toggle-label:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.toggle-input:checked+.toggle-label {
  background-color: #1c4759;
}

.toggle-input:checked+.toggle-label:after {
  left: 20px;
}

.toggle-switch {
  position: relative;
  width: 30px;
  height: 20px;
  margin-right: 20px;
}

.rc-table-cell {
  padding: 0 10px !important;
}

.ql-editor {
  min-height: 200px;
}

input[type='date']::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.apply_btn {
  margin: 20px 0;
  padding: 10px 12px;
  color: white;
  background: #289928;
  border-radius: 12px;
}

.gallery img:first-of-type {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.fixed_center {
  position: fixed;
  top: 80px;
  left: 40%;
}

@media only screen and (max-width: 600px) {
  .fixed_center {
    top: 10px;
    left: 15%;
  }
}

/* timeline */
.timeline {
  height: 80vh;
  padding: 10px 0;
  overflow-y: scroll;
  width: 220px;
  transition-duration: 1s;
  transition-delay: 0s;
  /* z-index: 100; */
  /* background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba(147, 149, 174, 0.37);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}


.year_transiton:hover {
  transition: all 0.1s ease-in-out;
  transform: scaleY(1.3);
  padding-top: 20px;
}

.code {
  font-size: 10.5em;
  text-shadow: 0 6px 1px rgba(0, 0, 0, 0.0980392),
    0 0 5px rgba(0, 0, 0, 0.0980392), 0 1px 3px rgba(0, 0, 0, 0.298039),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.247059),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.14902);
  margin: 0;
}

/* scrollpy class */
.active-scroll-spy {
  background-color: #3A6171;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px 20px;

}

.featured_logo {
  height: 60px;
  width: 100%;
  position: relative;
}

.featured_logo::after {
  content: '';
  width: 70px;
  height: 1px;
  position: absolute;
  z-index: 50;
  top: 60px;
  left: 1rem;
  background-color: rgb(5, 4, 4);
}

.history_card::after {
  content: '';
  width: 50%;
  height: 3px;
  position: absolute;
  z-index: 50;
  bottom: 0;
  left: 25%;
  background-color: rgb(5, 4, 4);
}

.service_title {
  position: relative;
}

.service_title::after {
  content: '';
  width: 40%;
  height: .05rem;
  position: absolute;
  z-index: 50;
  bottom: 0;
  left: 1rem;
  background-color: white !important;
}

.retail_title {
  position: relative;
}

.retail_title::after {
  content: '';
  width: 40%;
  height: .05rem;
  position: absolute;
  z-index: 50;
  bottom: 0;
  left: 1rem;
  background-color: #0F6274 !important;
}

.newsroom_card::after {
  content: '';
  width: 40%;
  height: .05rem;
  position: absolute;
  z-index: 50;
  bottom: 0;
  left: 30%;
  background-color: #7F7F7F !important;
}


/* added the following to give the background color of the arrows as red for visibility, the default which can be found in the slick-theme.css was white */
/* .slick-prev:before, .slick-next:before {
  color: #09529b !important;
} */
/* .slick-next {
  right: 33px!important;
}
.slick-prev {
  left: 33px!important;
  z-index: 60!important;
}
.slick-dots {
  bottom: -7px!important;
} */