.main{
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: lightcoral;
    padding: 20px;
}
.para {
    color: #eeeeee;
    font-size: 14px;
    font-weight: normal;
}